.timer {
  font-family: 'Roboto', sans-serif;;
  color: #d6d3c1;;
  font-size: 3em;
  padding: 20px;
  text-align: center;
  width: 100%;
  font-weight: bolder;
  box-sizing: border-box;
  text-shadow: 2px 1px #867f25;
}

.timerButton{
  width: 40%;
  height: 30px;
  background-color: #f1f1f1;
  color: black;
  border-radius: 5px;
}

.timerButton:hover{
  background-color: black;
  color: white;
}
