@import './Board.scss';
@import './Timer.scss';

$text-font: 'Libre Franklin', sans-serif;

.body{
  height: 120vh;
  width: auto;
  background-color: whitesmoke;
}

.horizontalLineShort{
  border-bottom: 2px solid lightgrey;
  width: 60vw;
}

.horizontalLineLong{
  border-bottom: 2px solid lightgrey;
  width: 80vw;
}

.header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  font-family: $text-font;
  justify-content: space-between;
  border-bottom: 2px solid grey;
}

.difficultyContainer{
  display:flex;
  width: 42%;
  font-size: 1.5em;
  justify-content: center;
}

.difficultyPicker{
  margin-right: 5%;
  width: 100%;
  legend{
    padding-bottom: 5%
  }
  div{
    padding: 3px;
  }
  input{
    height: 17px;
    width: 17px;
  }
}

.title{
  margin-left: 5%;
  margin-bottom: 2vh;
  font-size:5em;
  font-family: $text-font;
  color: black;
  text-shadow: 2px 1px #868686;
}

.subTitle{
  margin-left: 5%;
  font-size:2em;
  font-family: $text-font;
  color: grey;
  text-shadow: 1px 1px #3a3939;
  margin-bottom: 10px;
}

#gameTable{
  border-top: 2px solid grey;
  background-color: whitesmoke;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

.winningContainer{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  animation: fadein 1s;
}

.winnerText{
  margin: 10%;
  font-family: $text-font;
  font-size: 5em;
  color:#46b94b;
  text-shadow: 1px 1px #867f25;
  text-align: center;
}

.playAgainBtn{
  height: 90px;
  width: 115px;
  font-family: $text-font;
  font-size: 111%;
  font-weight: bold;
  border-radius: 10%;
  background-color: #FAE24C;
  color: #434444;
  box-shadow: 4px 4px 16px 0px black;

}

.playAgainBtn:hover{
  animation: shake 1.5s;
  animation-iteration-count: infinite;
}

.playAgainBtn:focus{
  outline:0;
}



@media screen and (max-width: 650px) and (min-width: 542px){
  .title{
    font-size: 4em;
    text-align: left;
  }

  .subTitle{
    font-size: 2em;
  }

  .difficultyContainer{
    display:flex;
    width: 42%;
    font-size: 1.3em;
    justify-content: center;
  }

  .difficultyPicker{
    margin-right: 4%;
    width: 100%;
    legend{
      padding-bottom: 4%
    }
    div{
      padding: 2px;
    }
    input{
      height: 16px;
      width: 16px;
    }
  }
}

@media screen and (max-width: 541px){
  .title{
    font-size: 3.7em;
    text-align: left;
  }

  .subTitle{
    font-size: 1.5em;
  }
  .difficultyContainer{
    display:flex;
    width: 42%;
    font-size: 1.1em;
    justify-content: center;
  }

  .difficultyPicker{
    margin-right: 4%;
    width: 95%;
    legend{
      padding-bottom: 3%
    }
    div{
      padding: 2px;
    }
    input{
      height: 14px;
      width: 14px;
    }
  }
}